{% load static %}
<!DOCTYPE html>
<html lang="eng">
<head>
    <title>BBI | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="BBI Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- // Meta Tags -->
    <!--booststrap-->
    <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href=" {% static 'css/fontawesome-all.css' %} " rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href=" {% static 'css/style.css' %} " rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href=" {% static '//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' %} "
          rel="stylesheet">
    <link href=" {% static '//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700' %} "
          rel="stylesheet">
</head>
<body>

<!--/banner-->
<!-- banner -->
{% include 'includes/menu_headers.html' %}
<!-- //banner -->
<section class="banner_bottom py-5">
    <div class="container py-md-4 mt-md-3">
        <div class="wthree_head_section">
            <h2 class="w3l_header">About <span>Us</span></h2>
        </div>
        <div class="inner_sec_info_wthree_agile mt-md-5 pt-4">
            <div class="row help_full">
                <div class="col-lg-6 banner_bottom_grid help">
                    <img src=" {% static 'images/g6.jpg' %} " alt=" " class="img-fluid">
                </div>
                <div class="col-lg-6 banner_bottom_left">
                    <h4>Lorem Ipsum convallis diam</h4>
                    <p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla
                        viverra pharetra sem, eget
                        pulvinar neque pharetra ac.</p>
                    <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra
                        pharetra sem, eget
                        pulvinar neque pharetra ac.</p>
                    <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra
                        pharetra sem, eget
                        pulvinar neque pharetra ac.</p>
                    <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra
                        pharetra sem, eget
                        pulvinar neque pharetra ac.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//ab-->
<!-- stats -->
<section class="stats">
    <div class="overlay py-5">
        <div class="container py-md-4 mt-md-3">
            <div class="wthree_head_section">
                <h3 class="w3l_header text-white">Our <span class="text-white">Credits</span></h3>
            </div>
            <div class="row inner_w3l_agile_grids-1 mt-md-5 pt-4">
                <div class="col-md-4 w3layouts_stats_left w3_counter_grid">
                    <i class="fas fa-image" aria-hidden="true"></i>
                    <p>120</p>
                    <h3>PHOTOGRAPHERS</h3>
                </div>
                <div class="col-md-4 w3layouts_stats_left w3_counter_grid1">
                    <i class="fas fa-smile" aria-hidden="true"></i>
                    <p>150</p>
                    <h3>TYPES OF FLOWERS</h3>
                </div>
                <div class="col-md-4 w3layouts_stats_left w3_counter_grid3">
                    <i class="fas fa-car" aria-hidden="true"></i>
                    <p>60</p>
                    <h3>WEDDING CARS</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- team -->
<section class="wthree-row py-5">
    <div class="container py-md-4 mt-md-3">
        <div class="wthree_head_section">
            <h3 class="w3l_header">Our <span>BBIraphers</span></h3>
        </div>
        <div class="row mt-md-5 pt-4">
            <div class="col-lg-3 col-sm-6 team-grids">
                <div class="team-effect">
                    <img src=" {% static 'images/te1.jpg' %} " alt="img" class="img-fluid">
                </div>
                <!-- team text -->
                <div class="footerv2-w3ls mt-3">
                    <h4 class="mb-2">John Smith</h4>
                    <p class="mb-2">Wedding</p>
                    <ul class="social-iconsv2 agileinfo">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //team text -->
            </div>
            <div class="col-lg-3 col-sm-6 team-grids mt-sm-0 mt-5">
                <div class="team-effect">
                    <img src=" {% static 'images/te3.jpg' %} " alt="img" class="img-fluid">
                </div>
                <!-- team text -->
                <div class="footerv2-w3ls mt-3">
                    <h4 class="mb-2">Thomson Doe</h4>
                    <p class="mb-2">Classic</p>
                    <ul class="social-iconsv2 agileinfo">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //team text -->
            </div>
            <div class="col-lg-3 col-sm-6 team-grids mt-lg-0 mt-5">
                <div class="team-effect">
                    <img src=" {% static 'images/te2.jpg' %} " alt="img" class="img-fluid">
                </div>
                <!-- team text -->
                <div class="footerv2-w3ls mt-3">
                    <h4 class="mb-2">Smith Kevin</h4>
                    <p class="mb-2">Creative</p>
                    <ul class="social-iconsv2 agileinfo">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //team text -->
            </div>
            <div class="col-lg-3 col-sm-6 team-grids mt-lg-0 mt-5">
                <div class="team-effect">
                    <img src=" {% static 'images/te4.jpg' %} " alt="img" class="img-fluid">
                </div>
                <!-- team text -->
                <div class="footerv2-w3ls mt-3">
                    <h4 class="mb-2">Laura Hill</h4>
                    <p class="mb-2">Birthdays</p>
                    <ul class="social-iconsv2 agileinfo">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //team text -->
            </div>
        </div>
    </div>
</section>
<!-- //team -->
<!-- //footer -->
{% include 'includes/footer.html' %}